@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

/*
h1{
    text-align: center;
    color: blue;
}
*/

div{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
   
}

h1{
    padding: 3rem;
    background-color: #ffe9c5;
    color: #fa9191;
    border-radius: 20px;
}

span{
    color: #fa9191; 
    background-color: #ffe9c5;
}